.head{
   justify-content: space-around;
   display: flex;
   align-items: center;
   flex-direction: row;
   text-decoration: none;
}
.head1{
    height: 80px;
}
.head2{
    display: flex;
    text-decoration: none;
}
.head2 a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    margin-left: 20px;
}
.head a:hover{
    color: #00b39b;
    transition: 0.3s ease-in-out;
}
.main{
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 50px;
}
.main1{
    padding-left: 500px;
    width: 20px;
    height: 20px;
}
#main2a{
    color: #00b39b;
    font-family: cursive ;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 50px;
    padding-left: 50px;
    padding-top: 130px;
}
.main3{
    display: flex;
    justify-content: center;
    align-items: center;
}
#main3a{
    width: 400px;
    color: gray;
    font-family: cursive;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}
#main3b{
    width: 400px;
    color: gray;
    font-family: cursive; 
    justify-content: center;
    align-items: center;
}
.mid{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
}
.mid1{
    background-color: #00b39b;
    border: 1px solid;
    /* width: 250px; */
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    padding: 50px;
    padding-bottom: 60px;
    padding-top: 60px;
    border-style: none;
}
#mid1a{
    color: whitesmoke;
    font-family: cursive;
}
#mid1b{
    color: whitesmoke;
    font-family: cursive;
}
#mid1c{
    color: whitesmoke;
    font-family: cursive;
   
}
.mid2{
    background-color: #3d83df;
    border: 1px solid;
    /* width: 250px; */
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    padding: 50px;
    padding-top: 70px;
    border-style: none;
}
#mid2a{
    color: whitesmoke;
    font-family: cursive;
}
#mid2b{
    color: whitesmoke;
    font-family: cursive;
}
#mid2c{
    color: whitesmoke;
    font-family: cursive;
   
}
.mid3{
    background-color: rgb(12, 23, 36);
    border: 1px solid;
    /* width: 250px; */
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    padding: 50px;
    border-style: none; 
}
#mid3a{
    color: whitesmoke;
    font-family: cursive;
}
#mid3b{
    color: whitesmoke;
    font-family: cursive;   
}
#mid3c{
    color: whitesmoke;
    font-family: cursive;
}
.midsec{
    display: flex;
}
#midsec1a{
    color: #00b39b;
    font-family: cursive;
    padding-left: 250px;
    padding-top: 20px;
    font-size: 25px;
}
.midsec2{
    flex-wrap: wrap;
}
.nearfooter{
    background-color: #bbefe8;
    display: flex;
}
.nearfooter1{
    padding-left: 100px;
    padding-top: 70px;
}
#nearfooter1a{
    color: #00b39b;
    font-family: cursive;
    font-size: 22px;
}
#nearfooter1b{
    color: #747474;
    font-family: cursive;
}
.nearfooter2{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    background-color:#bbefe8;
    padding-top: 50px;
    padding-left: 50px;
    margin-bottom: 20px;
    margin-left: 50px;
    /* border-radius: 15px; */
}
.nearfooter2 > div{
    background-color:#fff;
  text-align: center;
  /* padding: 20px 0; */
  /* font-size: 30px; */
}
.nearfooter2a{
    border-radius: 10px;
    padding: 20px;
}
#nearfooter2aa{
    color: #00b39b;
    font-family: cursive;
    font-size: 20px;
}
#nearfooter2ab{
    color: #747474;
    font-family: cursive;
    font-size: 12px;
}
.nearfooter2b{
    border-radius: 10px;
     padding: 20px;
     padding-top: 50px; 
}
#nearfooter2ba{
    color: #00b39b;
    font-family: cursive;
    font-size: 20px;  
}
#nearfooter2bb{
    color: #747474;
    font-family: cursive;
    font-size: 12px;
}
.nearfooter2c{
    border-radius: 10px;
    padding: 20px;
}
#nearfooter2ca{
    color: #00b39b;
    font-family: cursive;
    font-size: 20px;  
}
#nearfooter2cb{
    color: #747474;
    font-family: cursive;
    font-size: 12px;
}
.nearfooter2d{
    border-radius: 10px;
    padding: 20px;
}
#nearfooter2da{
    color: #00b39b;
    font-family: cursive;
    font-size: 20px;  
}
#nearfooter2db{
    color: #747474;
    font-family: cursive;
    font-size: 12px; 
}