.head{
   justify-content: space-around;
   display: flex;
   align-items: center;
   flex-direction: row;
   text-decoration: none;
}
.head1{
    height: 80px;
}
.head2{
    display: flex;
    text-decoration: none;
}
.head2 a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    margin-left: 20px;
}
.head a:hover{
    color: #00b39b;
    transition: 0.3s ease-in-out;
}
.main{
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 50px;
}
.main1{
    padding-left: 500px;
    width: 20px;
    height: 20px;
}
#main2a{
    color: #00b39b;
    font-family: cursive ;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 50px;
    padding-left: 50px;
    padding-top: 130px;
}
.main3{
    display: flex;
    justify-content: center;
    align-items: center;
}
#main3a{
    width: 400px;
    color: gray;
    font-family: cursive;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}
#main3b{
    width: 400px;
    color: gray;
    font-family: cursive; 
    justify-content: center;
    align-items: center;
}
.mid{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
}
.mid1{
    background-color: #00b39b;
    border: 1px solid;
    /* width: 250px; */
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    padding: 50px;
    padding-bottom: 60px;
    padding-top: 60px;
    border-style: none;
}
#mid1a{
    color: whitesmoke;
    font-family: cursive;
}
#mid1b{
    color: whitesmoke;
    font-family: cursive;
}
#mid1c{
    color: whitesmoke;
    font-family: cursive;
   
}
.mid2{
    background-color: #3d83df;
    border: 1px solid;
    /* width: 250px; */
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    padding: 50px;
    padding-top: 70px;
    border-style: none;
}
#mid2a{
    color: whitesmoke;
    font-family: cursive;
}
#mid2b{
    color: whitesmoke;
    font-family: cursive;
}
#mid2c{
    color: whitesmoke;
    font-family: cursive;
   
}
.mid3{
    background-color: rgb(12, 23, 36);
    border: 1px solid;
    /* width: 250px; */
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    padding: 50px;
    border-style: none; 
}
#mid3a{
    color: whitesmoke;
    font-family: cursive;
}
#mid3b{
    color: whitesmoke;
    font-family: cursive;   
}
#mid3c{
    color: whitesmoke;
    font-family: cursive;
}
.midsec{
    display: flex;
}
#midsec1a{
    color: #00b39b;
    font-family: cursive;
    padding-left: 250px;
    padding-top: 20px;
    font-size: 25px;
}
.midsec2{
    flex-wrap: wrap;
}
.nearfooter{
    background-color: #bbefe8;
    display: flex;
}
.nearfooter1{
    padding-left: 100px;
    padding-top: 70px;
}
#nearfooter1a{
    color: #00b39b;
    font-family: cursive;
    font-size: 22px;
}
#nearfooter1b{
    color: #747474;
    font-family: cursive;
}
.nearfooter2{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    background-color:#bbefe8;
    padding-top: 50px;
    padding-left: 50px;
    margin-bottom: 20px;
    margin-left: 50px;
    /* border-radius: 15px; */
}
.nearfooter2 > div{
    background-color:#fff;
  text-align: center;
  /* padding: 20px 0; */
  /* font-size: 30px; */
}
.nearfooter2a{
    border-radius: 10px;
    padding: 20px;
}
#nearfooter2aa{
    color: #00b39b;
    font-family: cursive;
    font-size: 20px;
}
#nearfooter2ab{
    color: #747474;
    font-family: cursive;
    font-size: 12px;
}
.nearfooter2b{
    border-radius: 10px;
     padding: 20px;
     padding-top: 50px; 
}
#nearfooter2ba{
    color: #00b39b;
    font-family: cursive;
    font-size: 20px;  
}
#nearfooter2bb{
    color: #747474;
    font-family: cursive;
    font-size: 12px;
}
.nearfooter2c{
    border-radius: 10px;
    padding: 20px;
}
#nearfooter2ca{
    color: #00b39b;
    font-family: cursive;
    font-size: 20px;  
}
#nearfooter2cb{
    color: #747474;
    font-family: cursive;
    font-size: 12px;
}
.nearfooter2d{
    border-radius: 10px;
    padding: 20px;
}
#nearfooter2da{
    color: #00b39b;
    font-family: cursive;
    font-size: 20px;  
}
#nearfooter2db{
    color: #747474;
    font-family: cursive;
    font-size: 12px; 
}
.nearfoot{
    align-items: center;
    justify-content: center;
    padding-left: 350px;
    padding-top: 100px;
}
#nearfoot1a{
    color: #00b39b;
    font-family: cursive;
    align-items: center;
    justify-content: center;
    padding-left: 120px;
}
#nearfoot1b{
    color: #747474;
    font-family: cursive;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    text-indent: 10px;
}
.mmm{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    padding-left: 250px;
}
.nnn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    padding-left: 250px;
    padding-top: 20px;
}
.fff{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    padding-left: 250px;
    padding-top: 20px;
}
.ppp{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    padding-left: 250px;
    padding-top: 20px;
}
.basfooter{
     display: grid;
     grid-template-columns: auto auto auto;
     gap: 20px;
}
/* .basfooter > div{
   
} */
 .basfooter{
    padding-top: 100px;
 }
 .basfooter2{
    background-color: white;
    box-shadow: 10px;
    border: 1px solid;
    width: 311px;
    /* border-style: none; */
    border-color: #fff;
    /* padding-top: 5px; */

 }
 .basfooter2 :hover{
    box-shadow: 10px;
 }
 .basfooter2a{
    display: flex;
    justify-content: space-around;
 }
 #basfooter2aa{
    color: #747474;
    font-family: cursive;
 }
 #but1{
    background-color: #3d83df;
    color: #fff;
    border-style: none;
    border-radius: 10px;
    /* padding: -50px; */
 }
 .basfooter3{
    background-color: white;
    box-shadow: 10px;
    border: 1px solid;
    width: 311px;
    border-color: #fff;
 }
 .basfooter3a{
    display: flex;
    justify-content: space-around;
 }
 #basfooter3aa{  
    color: #747474;
    font-family: cursive;
 }
  
 #but2{
    background-color: #3d83df;
    color: #fff;
    border-style: none;
    border-radius: 10px;
 }
 .basfooter4{
    background-color: white;
    box-shadow: 10px;
    border: 1px solid;
    width: 311px;
    border-color: #fff;
 }
 .basfooter4a{
    display: flex;
    justify-content: space-around;
 }
 #basfooter4aa{
    color: #747474;
    font-family: cursive;
 }
 #but3{
    background-color: #3d83df;
    color: #fff;
    border-style: none;
    border-radius: 10px;
 }
 .basfooter5{
    background-color: white;
    box-shadow: 10px;
    border: 1px solid;
    width: 311px;
    border-color: #fff;
 }
 .basfooter5a{
    display: flex;
    justify-content: space-around;
 }
 #basfooter5aa{
    color: #747474;
    font-family: cursive;
 }
 #but4{
    background-color: #3d83df;
    color: #fff;
    border-style: none;
    border-radius: 10px;
 }
 .basfooter6{
    background-color: white;
    box-shadow: 10px;
    border: 1px solid;
    width: 311px;
    border-color: #fff;
 }
 .basfooter6a{
    display: flex;
    justify-content: space-around;  
 }
 #basfooter6aa{
    color: #747474;
    font-family: cursive;
 }
 #but5{
    background-color: #3d83df;
    color: #fff;
    border-style: none;
    border-radius: 10px;
 }
 .basfooter7{
    background-color: white;
    box-shadow: 10px;
    border: 1px solid;
    width: 311px;
    border-color: #fff;
 }
 .basfooter7a{
    display: flex;
    justify-content: space-around;  
 } 
 #basfooter7aa{
    color: #747474;
    font-family: cursive;
 }
 #but6{
    background-color: #3d83df;
    color: #fff;
    border-style: none;
    border-radius: 10px;
 }
 .basfooter8{
    background-color: white;
    box-shadow: 10px;
    border: 1px solid;
    width: 311px;
    border-color: #fff;
 }
 .basfooter8a{
    display: flex;
    justify-content: space-around;  
 }
 #basfooter8aa{
    color: #747474;
    font-family: cursive;
 }
 #but7{
    background-color: #3d83df;
    color: #fff;
    border-style: none;
    border-radius: 10px;
 }
 .basfooter9{
    background-color: white;
    box-shadow: 10px;
    border: 1px solid;
    width: 311px;
    border-color: #fff;
 }
 .basfooter9a{
    display: flex;
    justify-content: space-around;
 }
 #basfooter9aa{
    color: #747474;
    font-family: cursive;
 }
 #but8{
    background-color: #3d83df;
    color: #fff;
    border-style: none;
    border-radius: 10px;
 }
 .basfooter10{
    background-color: white;
    box-shadow: 10px;
    border: 1px solid;
    width: 311px;
    border-color: #fff;
    margin-left: 450px;
    margin-top: 20px;
 }
 .basfooter10a{
    display: flex;
    justify-content: space-around;
 }
 #basfooter10aa{
    color: #747474;
    font-family: cursive;
 }
 #but9{
    background-color: #3d83df;
    color: #fff;
    border-style: none;
    border-radius: 10px;
    padding: 20px;
 }
 .basfoot{
    align-items: center;
    justify-content: center;
    padding-left: 430px;
    padding-top: 100px;
 }
#basfoot1a{
    color: rgb(51, 51, 51);
    font-family: cursive;
    align-items: center;
    justify-content: center;
}
#basfoot2{
    align-items: center;
    justify-content: center;
    /* padding-left: 20px; */
}
#but10{
    background-color: #3d83df;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-style: none;
    padding: 20px;
    border-radius: 10px;
    margin-left: 50px;
}
.footer{
    justify-content: center;
    align-items: center;
}
#footer1a{
    color: #747474;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    padding-left: 200px;
    font-size: 12px;
}
#footer2a{
    justify-content: center;
    align-items: center;
    color: #747474;
    font-family: cursive;
    padding-left: 185px;
    font-size: 12px;
}